/* =================== Media Query 1 =================== */

@media (min-width: 768px) and (max-width: 991px)
{   
    /*=================== navbar ===================  */

    nav a{
        font-size: 15px !important;
    }
    nav li{
        font-size: 15px !important;
        margin-inline: 5px !important;
    }
    .form-control{
        width: 120px !important;
    }
    /* ================ hero section ================ */

    .hero-section{
        height: 50vh !important;
    }

    .hero-content{
        padding: 50px opx !important;
    }

    .display-3{
        font-size: 40px !important;
    }

    /* =============== history section ================= */

    .history{
        flex-direction: column !important;
        gap: 30px !important;
    }

    .history-content1 img{
        width: 200px !important;
        height: 250px !important;
    }
    .history-content2{
        text-align: center !important;
        width: 100% !important;       
    }
    
    /* ================ plans section =================== */

    .plans{
        flex-direction: column !important;
        gap: 30px !important;
    }
    .card{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }
}

/* =================== Media Query 1 =================== */

/* =================== Media Query 2 =================== */

@media (min-width: 100px) and (max-width: 767px)
{
    /*=================== navbar ===================  */

    nav a{
        font-size: 10px !important;
    }
    /* ================ hero section ================ */

    .hero-section{
        height: 70vh !important;
    }

    .display-3{
        font-size: 30px !important;
    }

    /* ================ history section ================ */

    .history{
        flex-direction: column !important;
        gap: 20px !important;
    }

    .history-content1 img{
        width: 200px !important;
        height: 250px !important;
    }
    .history-content2{
        text-align: center !important;
        width: 100% !important;       
    }

    /* ================ plans section ================== */

    .plans{
        flex-direction: column !important;
        gap: 20px !important;
    }
    .card{
        width: 150px !important;
        height: 250px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    .card img{
        width: 130px !important;
        height: 120px !important;
        align-items: center !important;
    }
}